/.idea/
__pycache__/
*/tmp/

.DS_Store
/rl/agents/high_level/tmp/ppo
.vscode/settings.json

# Build and compilation artifacts
/build/
/build/**/*
build/
dist/
*.so
*.dll
*.dylib
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd